name: mirrorchyan_uploading

on:
  workflow_dispatch:

jobs:

  mirrorchyan:
    runs-on: macos-latest
    steps:
      - uses: MirrorChyan/uploading-action@v1
        with:
          filetype: latest-release
          filename: "ok-dna-win32-China-setup.exe"
          mirrorchyan_rid: ok-duet-night-abyss

          github_token: ${{ secrets.GITHUB_TOKEN }}
          owner: BnanZ0
          repo: ok-duet-night-abyss
          upload_token: ${{ secrets.MirrorChyanUploadToken }}